body
{
  font-family: Tahoma,Verdana;
  font-size: 16px;
}

#topBtn
{
  display: none;
  position: fixed;
  bottom: 70px;
  right: 10px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: gray;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
}

#topBtn:hover
{
  background-color: #555;
}